/* body, html {
	height: 100%;
} */

h3{
    text-align: center;
}

h5{
    text-align: center;
}

.ui-page .ui-header {
    background: lightcoral !important;
    color: #fff;
    text-align: center;
}

.ui-page .ui-btn {
    background: transparent;
    background-color: transparent;
    color: #fff;
    border-color: transparent;
}

.ui-shadow {
    box-shadow: none;
    
}

.sunset-image img {
    width: 100%;
    height: auto;
}

.sunset-info{
    text-align: left;
}


    /* .display-flex { display:flex; }
    .display-inline-flex { display:inline-flex; }
    .display-block { display:block; }
    .display-inline-block { display:inline-block; }

    .flex-align-center { align-items:center; }
    .flex-justify-center { justify-content:center; }

    .flex-none { flex:none; }
    .flex-stretch { flex: 1 1 auto; }

    .flex-column { flex-direction:column; }

    .overscroll { overflow: auto; } */


