



.ui-input-text.ui-custom {
    border: none;
    box-shadow: none;
    background-color: transparent;
 }

 .sunset-editor-save-btn {
    border-radius: 25px;
    font-family: lato, sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: #cb3c0e;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
 }

 .sunset-editor-cancel-btn {
    border-radius: 25px;
    font-family: lato, sans-serif;
    font-size: 16px;
    color: #cb3c0e;
    line-height: 1.2;
    outline: 4px;
    text-transform: uppercase;
    background-color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid #cb3c0e;
    margin-bottom: 10%;
 }

 .sunset-image img {
   width: 100%;
   height: auto;
}

h3{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

.ui-input-text{
   margin: 0em 0;
}

.wrap-input100{
   height: 4rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   font-family: lato, sans-serif;
}

.label-input100{
   line-height: 0.5;
   margin-top: 1rem;
}

.login100-form{
 
   margin:16px;
   width: auto;
}

.ui-input-text input{
   height: 1rem;
}

.sunset-editor-container {
   width: 100%;
   margin: 0 auto;
}

.label-input100-editor{
   color: rgb(146, 146, 146);
   font-size: small;
}