.tabgroup {
    height:100%;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%
}
.tabset {
    display:flex;
    line-height:3.5em;
    flex: none;
}
.tab {
    padding: 0 1em;
    position: relative;
    cursor: pointer;
    flex-grow: 1;
}
.tab:hover {
    background-color:rgb(249, 238, 238);
}
.tab::after {
    content:'';
    height:0;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background-color:rgb(243, 120, 95);
    transition:all 0.3s;
}

.tab.active::after {
    height:3px;
}
.contentset {
    flex: 1 1 90vh;
    overflow:hidden;
    position:relative;
}
.content {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
    overflow:auto;
    opacity:0;
    pointer-events: none;
    transition:all 0.3s;
}
.content.active {
    pointer-events: initial;
    opacity:1;
}

h3{
    text-align: center;
}

/**
   Image gallery modified based on https://www.w3schools.com/css/css_image_gallery.asp
**/
.gallery {
    padding: 0 1em;
}

.sunset-item { 
    border: 1px solid #ccc;
}

.sunset-item:hover {
    border: 1px solid #777;
}

.sunset-item img {
    width: 100%;
    height: auto;
}

.sunset-name {
    padding: 15px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 375px) {
    .responsive {
      width: 100%;
    }
}


/* FLOATER */
.floater { position:fixed; margin-bottom: 4rem;}
.floater.top { top: 1rem; }
.floater.right { right: 1rem; }
.floater.bottom { bottom: 1rem; }
.floater.left { left: 1rem; }

.btn-circle {
    color: #fff;
    text-decoration:none;
    border-radius: 2rem;
    line-height: 2.8rem;
    font-size:2.5em;
    width: 3rem;
    height: 3rem;
    text-align:center;
    background-color:#cb3c0e;
    display: block;
    box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2);
}



/* MODAL */
/* .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    z-index: 10;
}
.modal.active {
    opacity: 1;
    pointer-events: initial;
}



.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.modal-back.transparent {
    background-color: transparent;
}



.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3em));
    width: 80vw;
    max-height: 60vh;
    display:flex;
    flex-direction: column;
    border-radius: 0.3em;
    overflow:hidden;
    transition: all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%, -50%);
}


.modal-drawer {
    position: absolute;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.right,
.modal-drawer.left {
    height: 100%;
    width: 70vw;
}
.modal-drawer.right { right: 0; transform: translateX(100%); }
.modal-drawer.left { left: 0; transform: translateX(-100%); }

.modal-drawer.top,
.modal-drawer.bottom {
    height: 40vh;
    width: 100%;
}
.modal-drawer.top { top: 0; transform: translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform: translateY(100%); }
.modal.active .modal-drawer {
    transform: translate(0);
}




.modal-head,
.modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}
.modal-body {
    background-color: white;
    padding: 1em;
    flex: 1 1 100%;
    overflow: auto;
} */


/* PROFILE IMG */
.user-image{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.user-image img {
    width: 50%;
    height: 50%;
    border-radius: 50% 50%;
}

.js-logout {
    display: flex;
    justify-content: center;
    margin-top: 80%;
    color: #777;
    font-family: lato,sans-serif;
}
  
h3{
    font-family: 'Lora', serif;
}

.tabset{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: small;
    text-align: center;
}

.explore_icon{
    width: 24px;
    aspect-ratio: 1/1;
    margin-top: 12px;
}

/* .edit-icon{
    width: 16px;
    aspect-ratio: 1/1;
    margin: auto;
    margin-left: 45%;
    margin-right: 55%;
    color: #777;
} */